*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cornsilk;
    font-family: 'Open Sans', sans-serif;
}

.nav-bar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12px 20px;
}

.nav-bar h1{
    display: inline-block;
    width: 100%;
    color: white;
    margin: 0;
    padding: 0;
    padding: 10px;
}


.logo img{
    display: inline-block;
    height: 50px;
    width: 50px;
}

.menu{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
}

.menu li{
    padding-left: 30px;
    list-style: none;
}

.menu li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu li a:hover{
    width: 100%;
    color: lime;
    transition: color 0.5s ease-in-out;
    transform: scale(1.2);
}

.open-menu , .close-menu{
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu{
    top: 20px;
    right: 25px;
}

#check{
    display: none;
}

.image-container {
    position: relative;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: 800;
}


.mySlides {display: none;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slideshow-container {
    max-width: 100%;
    max-height: 100vh;
    position: relative;
    margin: auto;
}

.mySlides img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.8;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade{
  animation-name: fade;
  animation-duration: 1.5s;
}

.mySlides{
    position: relative;
    height: 100vh;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: limegreen;
    font-size: 5em;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff; 
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.paragraph-container{
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.6;
    padding-bottom: 2%;
}

.paragraph-container h2{
    margin-top: 5%;
    font-size: 2em;
    margin-bottom: 20px;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media(max-width: 600px){
    .text{
        font-size: 1.5em;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:40%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.5);
        transition: all 0.2s ease-in-out;
    }
    .menu li{
        margin-top: 40px;
        
    }

    .menu li a{
        padding: 10px;
    }

    .open-menu , .close-menu{
        display: block;
    }

    #check:checked ~ .menu{
        right: 0;
    }

    .slideshow-container{
        width: 100%;
    }
    
    .mySlides img{
        width: 100%;
    }

    .paragraph-container{
        max-width: 600px;
        font-size: 1.1em;
        padding: 10px;
    }
    
    .paragraph-container h2{
        font-size: 1.6em;
    }
    
}